[submodule "stm32/AMP_PCB_Project"]
	path = stm32/AMP_PCB_Project
	url = https://github.com/HaoliangLi/AMP_PCB_Project.git
[submodule "stm32/pcb-covox-amp-v2"]
	path = stm32/pcb-covox-amp-v2
	url = https://github.com/yeokm1/pcb-covox-amp-v2.git
[submodule "stm32/PulseSensorAmped_Hardware"]
	path = stm32/PulseSensorAmped_Hardware
	url = https://github.com/WorldFamousElectronics/PulseSensorAmped_Hardware.git
[submodule "stm32/stm32"]
	path = stm32/stm32
	url = https://github.com/istarc/stm32.git
[submodule "stm32/AltiumDesigner_PcbLibrary"]
	path = stm32/AltiumDesigner_PcbLibrary
	url = https://github.com/KitSprout/AltiumDesigner_PcbLibrary.git

[submodule "stm32/Tailsitter_Brain"]
	path = stm32/Tailsitter_Brain
	url = https://github.com/AlexiLlaiho/Tailsitter_Brain.git
[submodule "stm32/SmartEnergyMeterv2"]
	path = stm32/SmartEnergyMeterv2
	url = https://github.com/logitek00/SmartEnergyMeterv2.git
[submodule "stm32/SEM_BMS"]
	path = stm32/SEM_BMS
	url = https://github.com/LoganHorowitz/SEM_BMS.git
[submodule "stm32/R3_Robot"]
	path = stm32/R3_Robot
	url = https://github.com/xmmemory/R3_Robot.git
[submodule "stm32/ODriveHardware"]
	path = stm32/ODriveHardware
	url = https://github.com/madcowswe/ODriveHardware.git
[submodule "stm32/My_PCB_Project_Github"]
	path = stm32/My_PCB_Project_Github
	url = https://github.com/Samwuzhitao/My_PCB_Project_Github.git
[submodule "stm32/Multi-interface-Sensor"]
	path = stm32/Multi-interface-Sensor
	url = https://github.com/hsonbk/Multi-interface-Sensor.git
[submodule "stm32/Laser-LED-STM-Board-Project"]
	path = stm32/Laser-LED-STM-Board-Project
	url = https://github.com/fxslava/Laser-LED-STM-Board-Project.git
[submodule "ESP32-Sense-Kit-Altium-Files"]
	path = ESP32-Sense-Kit-Altium-Files
	url = https://github.com/DigiMaxIO/ESP32-Sense-Kit-Altium-Files.git
[submodule "stm32/ESP32-Sense-Kit-Altium-Files"]
	path = stm32/ESP32-Sense-Kit-Altium-Files
	url = https://github.com/DigiMaxIO/ESP32-Sense-Kit-Altium-Files.git
[submodule "stm32/nixie-clock-esp32"]
	path = stm32/nixie-clock-esp32
	url = https://github.com/glynnmccabe/nixie-clock-esp32.git
[submodule "stm32/nixie-clock-IN14-adaptor"]
	path = stm32/nixie-clock-IN14-adaptor
	url = https://github.com/glynnmccabe/nixie-clock-IN14-adaptor.git
[submodule "stm32/Amper_PCB"]
	path = stm32/Amper_PCB
	url = https://github.com/eakhmadishin/Amper_PCB.git
[submodule "stm32/AnanasStepper2.0-hardware"]
	path = stm32/AnanasStepper2.0-hardware
	url = https://github.com/Dark-Guan/AnanasStepper2.0-hardware.git
[submodule "stm32/AnimalMonitoring"]
	path = stm32/AnimalMonitoring
	url = https://github.com/HaoliangLi/AnimalMonitoring.git
[submodule "stm32/Bee_Shaker"]
	path = stm32/Bee_Shaker
	url = https://github.com/LoganHorowitz/Bee_Shaker.git
[submodule "stm32/BIGTIFFANYRS"]
	path = stm32/BIGTIFFANYRS
	url = https://github.com/waviot/BIGTIFFANYRS.git
[submodule "stm32/BLDC_PCB"]
	path = stm32/BLDC_PCB
	url = https://github.com/bauman-robotics/BLDC_PCB.git
[submodule "stm32/BLDC-control_SM7"]
	path = stm32/BLDC-control_SM7
	url = https://github.com/bauman-robotics/BLDC-control_SM7.git
[submodule "stm32/Delta-Robot"]
	path = stm32/Delta-Robot
	url = https://github.com/Dark-Guan/Delta-Robot.git
[submodule "stm32/DFMiniMp3"]
	path = stm32/DFMiniMp3
	url = https://github.com/LoganHorowitz/DFMiniMp3.git
[submodule "stm32/DT_Altium"]
	path = stm32/DT_Altium
	url = https://github.com/dinhthong/DT_Altium.git
[submodule "stm32/DT_Arduino"]
	path = stm32/DT_Arduino
	url = https://github.com/dinhthong/DT_Arduino.git
[submodule "stm32/ece3400-2017"]
	path = stm32/ece3400-2017
	url = https://github.com/CEI-lab/ece3400-2017.git
[submodule "stm32/ECE3400-2017-teamAlpha"]
	path = stm32/ECE3400-2017-teamAlpha
	url = https://github.com/CEI-lab/ECE3400-2017-teamAlpha.git
[submodule "stm32/ece3400-2018"]
	path = stm32/ece3400-2018
	url = https://github.com/CEI-lab/ece3400-2018.git
[submodule "stm32/Flyback_LowPower"]
	path = stm32/Flyback_LowPower
	url = https://github.com/LoganHorowitz/Flyback_LowPower.git
[submodule "stm32/Inchworm_v0"]
	path = stm32/Inchworm_v0
	url = https://github.com/LoganHorowitz/Inchworm_v0.git
[submodule "stm32/Buck_Horn"]
	path = stm32/Buck_Horn
	url = https://github.com/LoganHorowitz/Buck_Horn.git
[submodule "stm32/SEM_DAQ_2018"]
	path = stm32/SEM_DAQ_2018
	url = https://github.com/LoganHorowitz/SEM_DAQ_2018.git
[submodule "stm32/MultiBot-MultipurposeRobot"]
	path = stm32/MultiBot-MultipurposeRobot
	url = https://github.com/OskOnu/MultiBot-MultipurposeRobot.git
[submodule "stm32/NBFi_AX5043"]
	path = stm32/NBFi_AX5043
	url = https://github.com/waviot/NBFi_AX5043.git
[submodule "stm32/qbcan-resources"]
	path = stm32/qbcan-resources
	url = https://github.com/opencosmos/qbcan-resources.git
[submodule "stm32/SEM_DAQ_2019"]
	path = stm32/SEM_DAQ_2019
	url = https://github.com/LoganHorowitz/SEM_DAQ_2019.git
[submodule "stm32/STM32_Platform"]
	path = stm32/STM32_Platform
	url = https://github.com/JUMA-IO/STM32_Platform.git
[submodule "stm32/Stress-Monitor-Based-on-NB-IoT"]
	path = stm32/Stress-Monitor-Based-on-NB-IoT
	url = https://github.com/Neyzoter/Stress-Monitor-Based-on-NB-IoT.git
[submodule "stm32/WPT_RX"]
	path = stm32/WPT_RX
	url = https://github.com/LoganHorowitz/WPT_RX.git
[submodule "PCB-multi-layer/FrontLimeAssembly"]
	path = PCB-multi-layer/FrontLimeAssembly
	url = https://github.com/2ftg/FrontLimeAssembly.git
[submodule "PCB-multi-layer/LimeSDR-USB"]
	path = PCB-multi-layer/LimeSDR-USB
	url = https://github.com/myriadrf/LimeSDR-USB
[submodule "PCB-multi-layer/AX5243_module"]
	path = PCB-multi-layer/AX5243_module
	url = https://github.com/2ftg/AX5243_module
[submodule "PCB-multi-layer/micromicroUSBuart"]
	path = PCB-multi-layer/micromicroUSBuart
	url = https://github.com/2ftg/micromicroUSBuart
[submodule "PCB-multi-layer/2GHz_TDD_Driver"]
	path = PCB-multi-layer/2GHz_TDD_Driver
	url = https://github.com/2ftg/2GHz_TDD_Driver
[submodule "PCB-multi-layer/solenshardware"]
	path = PCB-multi-layer/solenshardware
	url = https://github.com/fluffylogiccu/solenshardware
[submodule "PCB-multi-layer/Light-Sensor-Node-Hardware"]
	path = PCB-multi-layer/Light-Sensor-Node-Hardware
	url = https://github.com/MegaFatGray/Light-Sensor-Node-Hardware
[submodule "PCB-multi-layer/103091_B0"]
	path = PCB-multi-layer/103091_B0
	url = https://github.com/dhahaj/103091_B0
[submodule "PCB-multi-layer/DIN-Rails-Mounts"]
	path = PCB-multi-layer/DIN-Rails-Mounts
	url = https://github.com/dhahaj/DIN-Rails-Mounts
[submodule "PCB-multi-layer/pywtl"]
	path = PCB-multi-layer/pywtl
	url = https://github.com/adamjohngilbert/pywtl
[submodule "PCB-multi-layer/Telit-GPS-SL871-Module"]
	path = PCB-multi-layer/Telit-GPS-SL871-Module
	url = https://github.com/ugurozkan52/Telit-GPS-SL871-Module
[submodule "PCB-multi-layer/Raspberry-Pi-3-Altium-Template"]
	path = PCB-multi-layer/Raspberry-Pi-3-Altium-Template
	url = https://github.com/NilsMinor/Raspberry-Pi-3-Altium-Template
[submodule "PCB-multi-layer/Raspberry-Pi-3-Arduino-Altium-Shield"]
	path = PCB-multi-layer/Raspberry-Pi-3-Arduino-Altium-Shield
	url = https://github.com/NilsMinor/Raspberry-Pi-3-Arduino-Altium-Shield
[submodule "PCB-multi-layer/main_pcb"]
	path = PCB-multi-layer/main_pcb
	url = https://github.com/kocsislaci/main_pcb
[submodule "PCB-multi-layer/signal_gen"]
	path = PCB-multi-layer/signal_gen
	url = https://github.com/Pinwino/signal_gen
[submodule "PCB-multi-layer/Altium-Github-Repo-beaud082"]
	path = PCB-multi-layer/Altium-Github-Repo-beaud082
	url = https://github.com/beaud082/Altium-Github-Repo-beaud082
[submodule "PCB-multi-layer/Altium-Project"]
	path = PCB-multi-layer/Altium-Project
	url = https://github.com/LuongTanDat/Altium-Project
[submodule "PCB-multi-layer/MMP8266"]
	path = PCB-multi-layer/MMP8266
	url = https://github.com/lanzhou2333/MMP8266
[submodule "PCB-multi-layer/ebug2014-pcb"]
	path = PCB-multi-layer/ebug2014-pcb
	url = https://github.com/monash-wsrn/ebug2014-pcb
[submodule "PCB-multi-layer/ebug2014-parallella-carrier-v-pcb"]
	path = PCB-multi-layer/ebug2014-parallella-carrier-v-pcb
	url = https://github.com/monash-wsrn/ebug2014-parallella-carrier-v-pcb
[submodule "PCB-multi-layer/ebug2014-parallella-carrier-h-pcb"]
	path = PCB-multi-layer/ebug2014-parallella-carrier-h-pcb
	url = https://github.com/monash-wsrn/ebug2014-parallella-carrier-h-pcb
[submodule "PCB-multi-layer/ebug2014-camera-array-pcb"]
	path = PCB-multi-layer/ebug2014-camera-array-pcb
	url = https://github.com/monash-wsrn/ebug2014-camera-array-pcb
[submodule "PCB-multi-layer/TTAmp"]
	path = PCB-multi-layer/TTAmp
	url = https://github.com/CannaCardo/TTAmp
[submodule "PCB-multi-layer/JBC-Soldering-Controller"]
	path = PCB-multi-layer/JBC-Soldering-Controller
	url = https://github.com/timothyjager/JBC-Soldering-Controller
[submodule "PCB-multi-layer/CubeSatPCB"]
	path = PCB-multi-layer/CubeSatPCB
	url = https://github.com/bluesat/CubeSatPCB
[submodule "PCB-multi-layer/ConnectMedical"]
	path = PCB-multi-layer/ConnectMedical
	url = https://github.com/Engineer1234/ConnectMedical
[submodule "PCB-multi-layer/mitosis_with_case"]
	path = PCB-multi-layer/mitosis_with_case
	url = https://github.com/nhou7/mitosis_with_case
[submodule "PCB-multi-layer/OALCT-LX100"]
	path = PCB-multi-layer/OALCT-LX100
	url = https://github.com/andrewpeck/OALCT-LX100
[submodule "PCB-multi-layer/rf-19-can-module"]
	path = PCB-multi-layer/rf-19-can-module
	url = https://github.com/tzai/rf-19-can-module
[submodule "PCB-multi-layer/electronics-thymio2-rf"]
	path = PCB-multi-layer/electronics-thymio2-rf
	url = https://github.com/Mobsya/electronics-thymio2-rf
[submodule "PCB-multi-layer/-Embedded-systems-"]
	path = PCB-multi-layer/-Embedded-systems-
	url = https://github.com/bendelathouwer/-Embedded-systems-
[submodule "PCB-multi-layer/Altium-Projects"]
	path = PCB-multi-layer/Altium-Projects
	url = https://github.com/robbiesm/Altium-Projects
[submodule "PCB-multi-layer/Altuim-Projecs"]
	path = PCB-multi-layer/Altuim-Projecs
	url = https://github.com/robbiesm/Altuim-Projecs
[submodule "PCB-multi-layer/BTS"]
	path = PCB-multi-layer/BTS
	url = https://github.com/ngoquytuan/BTS
[submodule "PCB-multi-layer/altiumlib"]
	path = PCB-multi-layer/altiumlib
	url = https://github.com/ngoquytuan/altiumlib
[submodule "PCB-multi-layer/thesis"]
	path = PCB-multi-layer/thesis
	url = https://github.com/TuanHungVU1202/thesis
[submodule "PCB-multi-layer/DenDaChien"]
	path = PCB-multi-layer/DenDaChien
	url = https://github.com/ngoquytuan/DenDaChien
[submodule "PCB-multi-layer/Electronic_project"]
	path = PCB-multi-layer/Electronic_project
	url = https://github.com/fherbine/Electronic_project
[submodule "PCB-multi-layer/AIO-Shield"]
	path = PCB-multi-layer/AIO-Shield
	url = https://github.com/AIO-Javeriana/AIO-Shield
[submodule "PCB-multi-layer/Altium-Workspace"]
	path = PCB-multi-layer/Altium-Workspace
	url = https://github.com/samuelwilliams413/Altium-Workspace
[submodule "PCB-multi-layer/tvws_pcb_projects"]
	path = PCB-multi-layer/tvws_pcb_projects
	url = https://github.com/RyanEGuerra/tvws_pcb_projects
[submodule "stm32/Rodent_v1.0"]
	path = stm32/Rodent_v1.0
	url = https://github.com/OskOnu/Rodent_v1.0.git
[submodule "stm32/Kiwino"]
	path = stm32/Kiwino
	url = https://github.com/LoganHorowitz/Kiwino.git
[submodule "PCB-multi-layer/GNC_Project"]
	path = PCB-multi-layer/GNC_Project
	url = https://github.com/ugurozkan52/GNC_Project.git
[submodule "PCB-multi-layer/Metlino"]
	path = PCB-multi-layer/Metlino
	url = https://github.com/sinara-hw/Metlino.git
[submodule "PCB-multi-layer/Thermostat"]
	path = PCB-multi-layer/Thermostat
	url = https://github.com/sinara-hw/Thermostat.git
[submodule "PCB-multi-layer/thermostat_thorlabs"]
	path = PCB-multi-layer/thermostat_thorlabs
	url = https://github.com/sinara-hw/thermostat_thorlabs.git
[submodule "PCB-multi-layer/Banker_EDGE_2_BNC"]
	path = PCB-multi-layer/Banker_EDGE_2_BNC
	url = https://github.com/sinara-hw/Banker_EDGE_2_BNC.git
[submodule "PCB-multi-layer/Banker_EDGE_2_SMA"]
	path = PCB-multi-layer/Banker_EDGE_2_SMA
	url = https://github.com/sinara-hw/Banker_EDGE_2_SMA.git
[submodule "PCB-multi-layer/Banker_VHDCI_2_EDGE"]
	path = PCB-multi-layer/Banker_VHDCI_2_EDGE
	url = https://github.com/sinara-hw/Banker_VHDCI_2_EDGE.git
[submodule "PCB-multi-layer/Banker_VHDCI_2_EDGE_Buffered"]
	path = PCB-multi-layer/Banker_VHDCI_2_EDGE_Buffered
	url = https://github.com/sinara-hw/Banker_VHDCI_2_EDGE_Buffered.git
[submodule "PCB-multi-layer/DIO_BNC"]
	path = PCB-multi-layer/DIO_BNC
	url = https://github.com/sinara-hw/DIO_BNC.git
[submodule "PCB-multi-layer/Grabber"]
	path = PCB-multi-layer/Grabber
	url = https://github.com/sinara-hw/Grabber.git
[submodule "PCB-multi-layer/BNC_IDC"]
	path = PCB-multi-layer/BNC_IDC
	url = https://github.com/sinara-hw/BNC_IDC.git
[submodule "PCB-multi-layer/DIO_SMA"]
	path = PCB-multi-layer/DIO_SMA
	url = https://github.com/sinara-hw/DIO_SMA.git
[submodule "PCB-multi-layer/DIO_RJ45"]
	path = PCB-multi-layer/DIO_RJ45
	url = https://github.com/sinara-hw/DIO_RJ45.git
[submodule "PCB-multi-layer/Clocker"]
	path = PCB-multi-layer/Clocker
	url = https://github.com/sinara-hw/Clocker.git
[submodule "PCB-multi-layer/AFCZ"]
	path = PCB-multi-layer/AFCZ
	url = https://github.com/elhep/AFCZ.git
[submodule "PCB-multi-layer/SpaceVPX_FMC_Carrier_3U"]
	path = PCB-multi-layer/SpaceVPX_FMC_Carrier_3U
	url = https://github.com/elhep/SpaceVPX_FMC_Carrier_3U.git
[submodule "PCB-multi-layer/SpaceVPX_FMC_Carrier_6U"]
	path = PCB-multi-layer/SpaceVPX_FMC_Carrier_6U
	url = https://github.com/elhep/SpaceVPX_FMC_Carrier_6U.git
[submodule "PCB-multi-layer/SiPM_AFE"]
	path = PCB-multi-layer/SiPM_AFE
	url = https://github.com/elhep/SiPM_AFE.git
[submodule "PCB-multi-layer/XMC_ZynQ"]
	path = PCB-multi-layer/XMC_ZynQ
	url = https://github.com/elhep/XMC_ZynQ.git
[submodule "PCB-multi-layer/FMC_ADC100M_10B_TDC_16cha"]
	path = PCB-multi-layer/FMC_ADC100M_10B_TDC_16cha
	url = https://github.com/elhep/FMC_ADC100M_10B_TDC_16cha.git
[submodule "PCB-multi-layer/MCORD_HUB"]
	path = PCB-multi-layer/MCORD_HUB
	url = https://github.com/elhep/MCORD_HUB
[submodule "PCB-multi-layer/RTM_4SFP_3QSFP"]
	path = PCB-multi-layer/RTM_4SFP_3QSFP
	url = https://github.com/elhep/RTM_4SFP_3QSFP
