[submodule "stm32/AMP_PCB_Project"]
	path = stm32/AMP_PCB_Project
	url = https://github.com/HaoliangLi/AMP_PCB_Project.git
[submodule "stm32/pcb-covox-amp-v2"]
	path = stm32/pcb-covox-amp-v2
	url = https://github.com/yeokm1/pcb-covox-amp-v2.git
[submodule "stm32/PulseSensorAmped_Hardware"]
	path = stm32/PulseSensorAmped_Hardware
	url = https://github.com/WorldFamousElectronics/PulseSensorAmped_Hardware.git
[submodule "stm32/stm32"]
	path = stm32/stm32
	url = https://github.com/istarc/stm32.git
[submodule "stm32/AltiumDesigner_PcbLibrary"]
	path = stm32/AltiumDesigner_PcbLibrary
	url = https://github.com/liquanqing/AltiumDesigner_PcbLibrary.git

[submodule "stm32/Tailsitter_Brain"]
	path = stm32/Tailsitter_Brain
	url = https://github.com/AlexiLlaiho/Tailsitter_Brain.git
[submodule "stm32/SmartEnergyMeterv2"]
	path = stm32/SmartEnergyMeterv2
	url = https://github.com/logitek00/SmartEnergyMeterv2.git
