(edif (rename fd2cs "FD2CS")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 0 34 40)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FDC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename fd2cs "FD2CS") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port D0 (direction INPUT)
 )
           (port D1 (direction INPUT)
 )
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT)
 )
           (port Q0 (direction OUTPUT))
           (port Q1 (direction OUTPUT))
         )
         (contents
          (instance Q0_inst (viewRef PRIM (cellRef FDC (libraryRef UNILIB)))
          )
          (instance Q1_inst (viewRef PRIM (cellRef FDC (libraryRef UNILIB)))
          )
          (net (rename d0 "D0") (joined
           (portRef D0)
           (portRef D (instanceRef Q0_inst))
          ))
          (net (rename d1 "D1") (joined
           (portRef D1)
           (portRef D (instanceRef Q1_inst))
          ))
          (net (rename c "C") (joined
           (portRef C)
           (portRef C (instanceRef Q1_inst))
           (portRef C (instanceRef Q0_inst))
          ))
          (net (rename clr "CLR") (joined
           (portRef CLR)
           (portRef CLR (instanceRef Q1_inst))
           (portRef CLR (instanceRef Q0_inst))
          ))
          (net (rename q0 "Q0") (joined
           (portRef Q (instanceRef Q0_inst))
           (portRef Q0)
          ))
          (net (rename q1 "Q1") (joined
           (portRef Q (instanceRef Q1_inst))
           (portRef Q1)
          ))
         )
       )
    )
  )
  (design (rename fd2cs "FD2CS") (cellRef fd2cs (libraryRef work))
	(property PART (string "xc2c256-5-vq100") (owner "Xilinx")))
)
