(edif (rename cdiv2dc50 "CDIV2DC50")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 0 20 50)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename cdiv2dc50 "CDIV2DC50") (cellType GENERIC)
       (view struct (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance CLKDV_inst (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance CLKDV_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef CLKDV_inst))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef CLKDV_inst))
           (portRef I (instanceRef CLKDV_i))
           (portRef CLKDV)
          ))
          (net (rename CLKDV_iZ0 "CLKDV_i") (joined
           (portRef O (instanceRef CLKDV_i))
           (portRef D (instanceRef CLKDV_inst))
          ))
         )
       )
    )
  )
  (design (rename cdiv2dc50 "CDIV2DC50") (cellRef cdiv2dc50 (libraryRef work))
	(property PART (string "xc2c256-5-vq100") (owner "Xilinx")))
)
