(edif (rename cdiv8dc50 "CDIV8DC50")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 0 21 8)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
       )
    )
    (cell XOR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename cdiv8dc50 "CDIV8DC50") (cellType GENERIC)
       (view struct (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance un6_i_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un6_i (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM2_0_x2 "un2_i_1.SUM2_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM1_0_x2 "un2_i_1.SUM1_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_CO2_0_o2 "un2_i_1.CO2_0_o2") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance CLKDV_0 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename i_3_2 "i_3[2]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance CLKDV_inst (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_0 "i[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_1 "i[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_2 "i[2]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance un6_i_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_1 "i_i[1]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_N_7_i_i "un2_i_1.N_7_i_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_0 "i_i[0]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_N_3_i "un2_i_1.N_3_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef i_2))
           (portRef C (instanceRef i_1))
           (portRef C (instanceRef i_0))
           (portRef C (instanceRef CLKDV_inst))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef CLKDV_inst))
           (portRef I0 (instanceRef CLKDV_0))
           (portRef CLKDV)
          ))
          (net (rename i_iZ0Z_0 "i_i(0)") (joined
           (portRef O (instanceRef i_i_0))
           (portRef D (instanceRef i_0))
           (portRef I1 (instanceRef un2_i_1_CO2_0_o2))
           (portRef I0 (instanceRef un6_i_0))
          ))
          (net N_3_i (joined
           (portRef O (instanceRef un2_i_1_N_3_i))
           (portRef I1 (instanceRef un6_i_0))
          ))
          (net (rename un6_iZ0Z_0 "un6_i_0") (joined
           (portRef O (instanceRef un6_i_0))
           (portRef I1 (instanceRef un6_i))
          ))
          (net (rename un2_i_1_N_7_i_iZ0 "un2_i_1.N_7_i_i") (joined
           (portRef O (instanceRef un2_i_1_N_7_i_i))
           (portRef I1 (instanceRef i_3_2))
           (portRef I0 (instanceRef un6_i))
          ))
          (net (rename un6_iZ0 "un6_i") (joined
           (portRef O (instanceRef un6_i))
           (portRef I (instanceRef un6_i_i))
           (portRef I1 (instanceRef CLKDV_0))
          ))
          (net (rename iZ0Z_2 "i(2)") (joined
           (portRef Q (instanceRef i_2))
           (portRef I0 (instanceRef un2_i_1_SUM2_0_x2))
          ))
          (net (rename un2_i_1_N_5 "un2_i_1.N_5") (joined
           (portRef O (instanceRef un2_i_1_CO2_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM2_0_x2))
          ))
          (net (rename un2_i_1_N_7_i "un2_i_1.N_7_i") (joined
           (portRef O (instanceRef un2_i_1_SUM2_0_x2))
           (portRef I (instanceRef un2_i_1_N_7_i_i))
          ))
          (net (rename iZ0Z_0 "i(0)") (joined
           (portRef Q (instanceRef i_0))
           (portRef I (instanceRef i_i_0))
           (portRef I0 (instanceRef un2_i_1_SUM1_0_x2))
          ))
          (net (rename iZ0Z_1 "i(1)") (joined
           (portRef Q (instanceRef i_1))
           (portRef I (instanceRef i_i_1))
           (portRef I1 (instanceRef un2_i_1_SUM1_0_x2))
          ))
          (net SUM1_0_x2_n (joined
           (portRef O (instanceRef un2_i_1_SUM1_0_x2))
           (portRef I (instanceRef un2_i_1_N_3_i))
           (portRef D (instanceRef i_1))
          ))
          (net (rename i_iZ0Z_1 "i_i(1)") (joined
           (portRef O (instanceRef i_i_1))
           (portRef I0 (instanceRef un2_i_1_CO2_0_o2))
          ))
          (net CLKDV_0_n (joined
           (portRef O (instanceRef CLKDV_0))
           (portRef D (instanceRef CLKDV_inst))
          ))
          (net (rename un6_i_iZ0 "un6_i_i") (joined
           (portRef O (instanceRef un6_i_i))
           (portRef I0 (instanceRef i_3_2))
          ))
          (net (rename i_3Z0Z_2 "i_3(2)") (joined
           (portRef O (instanceRef i_3_2))
           (portRef D (instanceRef i_2))
          ))
         )
       )
    )
  )
  (design (rename cdiv8dc50 "CDIV8DC50") (cellRef cdiv8dc50 (libraryRef work))
	(property PART (string "xc2c256-5-vq100") (owner "Xilinx")))
)
