(edif (rename fdr "FDR")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 0 46 5)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
       )
    )
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename fdr "FDR") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port D (direction INPUT)
 )
           (port C (direction INPUT)
 )
           (port R (direction INPUT)
 )
           (port Q (direction OUTPUT))
         )
         (contents
          (instance Q_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance Q_inst (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance N_2_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename d "D") (joined
           (portRef D)
           (portRef I0 (instanceRef Q_0))
          ))
          (net (rename c "C") (joined
           (portRef C)
           (portRef C (instanceRef Q_inst))
          ))
          (net (rename r "R") (joined
           (portRef R)
           (portRef I (instanceRef N_2_i))
          ))
          (net (rename q "Q") (joined
           (portRef Q (instanceRef Q_inst))
           (portRef Q)
          ))
          (net (rename N_2_iZ0 "N_2_i") (joined
           (portRef O (instanceRef N_2_i))
           (portRef I1 (instanceRef Q_0))
          ))
          (net Q_0_n (joined
           (portRef O (instanceRef Q_0))
           (portRef D (instanceRef Q_inst))
          ))
         )
       )
    )
  )
  (design (rename fdr "FDR") (cellRef fdr (libraryRef work))
	(property PART (string "xc2c256-5-vq100") (owner "Xilinx")))
)
