NET "CLK" LOC=P55;
NET "HA1" LOC=P27;
NET "HA2" LOC=P28;
NET "HA3" LOC=P29;
NET "HA4" LOC=P30;
NET "LEDS<7>" LOC=P175;
NET "LEDS<6>" LOC=P178;
NET "LEDS<5>" LOC=P179;
NET "LEDS<4>" LOC=P180;
NET "LEDS<3>" LOC=P182;
NET "LEDS<2>" LOC=P183;
NET "LEDS<1>" LOC=P184;
NET "LEDS<0>" LOC=P185;
NET "PB0" LOC=P127;
NET "PB1" LOC=P126;
NET "SW<7>" LOC=P40;
NET "SW<6>" LOC=P41;
NET "SW<5>" LOC=P43;
NET "SW<4>" LOC=P45;
NET "SW<3>" LOC=P47;
NET "SW<2>" LOC=P48;
NET "SW<1>" LOC=P49;
NET "SW<0>" LOC=P50;
