(edif (rename cdiv128dc50 "CDIV128DC50")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 14 50 52)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
       )
    )
    (cell XOR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename cdiv128dc50 "CDIV128DC50") (cellType GENERIC)
       (view struct (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance un6_i_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un6_i (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM6_0_x2 "un2_i_1.SUM6_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM5_0_x2 "un2_i_1.SUM5_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_CO6_0_o2 "un2_i_1.CO6_0_o2") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM4_0_x2 "un2_i_1.SUM4_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM3_0_x2 "un2_i_1.SUM3_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM2_0_x2 "un2_i_1.SUM2_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM1_0_x2 "un2_i_1.SUM1_0_x2") (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM5_0_o2 "un2_i_1.SUM5_0_o2") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM4_0_o2 "un2_i_1.SUM4_0_o2") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM3_0_o2 "un2_i_1.SUM3_0_o2") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_SUM2_0_o2 "un2_i_1.SUM2_0_o2") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance CLKDV_1 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename i_3_6 "i_3[6]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un6_i_4 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un6_i_3 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un6_i_2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un6_i_1 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance CLKDV_inst (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_0 "i[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_1 "i[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_2 "i[2]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_3 "i[3]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_4 "i[4]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_5 "i[5]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_6 "i[6]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename un2_i_1_N_14_i_i "un2_i_1.N_14_i_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_N_15_i_i "un2_i_1.N_15_i_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_N_16_i_i "un2_i_1.N_16_i_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_N_18_i_i "un2_i_1.N_18_i_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance un6_i_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename un2_i_1_N_19_i_i "un2_i_1.N_19_i_i") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_4 "i_i[4]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_2 "i_i[2]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_3 "i_i[3]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_1 "i_i[1]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_0 "i_i[0]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_5 "i_i[5]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef i_6))
           (portRef C (instanceRef i_5))
           (portRef C (instanceRef i_4))
           (portRef C (instanceRef i_3))
           (portRef C (instanceRef i_2))
           (portRef C (instanceRef i_1))
           (portRef C (instanceRef i_0))
           (portRef C (instanceRef CLKDV_inst))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef CLKDV_inst))
           (portRef I0 (instanceRef CLKDV_1))
           (portRef CLKDV)
          ))
          (net (rename i_iZ0Z_2 "i_i(2)") (joined
           (portRef O (instanceRef i_i_2))
           (portRef I1 (instanceRef un2_i_1_SUM3_0_o2))
           (portRef I0 (instanceRef un6_i_0))
          ))
          (net (rename i_iZ0Z_3 "i_i(3)") (joined
           (portRef O (instanceRef i_i_3))
           (portRef I0 (instanceRef un2_i_1_SUM4_0_o2))
           (portRef I1 (instanceRef un6_i_0))
          ))
          (net (rename un6_iZ0Z_0 "un6_i_0") (joined
           (portRef O (instanceRef un6_i_0))
           (portRef I0 (instanceRef un6_i_4))
          ))
          (net (rename un2_i_1_N_16_i "un2_i_1.N_16_i") (joined
           (portRef O (instanceRef un2_i_1_SUM4_0_x2))
           (portRef I (instanceRef un2_i_1_N_16_i_i))
           (portRef I0 (instanceRef un6_i))
          ))
          (net (rename un6_iZ0Z_4 "un6_i_4") (joined
           (portRef O (instanceRef un6_i_4))
           (portRef I1 (instanceRef un6_i))
          ))
          (net (rename un6_iZ0 "un6_i") (joined
           (portRef O (instanceRef un6_i))
           (portRef I (instanceRef un6_i_i))
           (portRef I1 (instanceRef CLKDV_1))
          ))
          (net (rename iZ0Z_6 "i(6)") (joined
           (portRef Q (instanceRef i_6))
           (portRef I1 (instanceRef un6_i_1))
           (portRef I0 (instanceRef un2_i_1_SUM6_0_x2))
          ))
          (net (rename un2_i_1_N_17 "un2_i_1.N_17") (joined
           (portRef O (instanceRef un2_i_1_CO6_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM6_0_x2))
          ))
          (net (rename un2_i_1_N_19_i "un2_i_1.N_19_i") (joined
           (portRef O (instanceRef un2_i_1_SUM6_0_x2))
           (portRef I (instanceRef un2_i_1_N_19_i_i))
          ))
          (net (rename iZ0Z_5 "i(5)") (joined
           (portRef Q (instanceRef i_5))
           (portRef I (instanceRef i_i_5))
           (portRef I0 (instanceRef un2_i_1_SUM5_0_x2))
          ))
          (net (rename un2_i_1_N_12 "un2_i_1.N_12") (joined
           (portRef O (instanceRef un2_i_1_SUM5_0_o2))
           (portRef I1 (instanceRef un2_i_1_CO6_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM5_0_x2))
          ))
          (net (rename un2_i_1_N_18_i "un2_i_1.N_18_i") (joined
           (portRef O (instanceRef un2_i_1_SUM5_0_x2))
           (portRef I (instanceRef un2_i_1_N_18_i_i))
          ))
          (net (rename i_iZ0Z_5 "i_i(5)") (joined
           (portRef O (instanceRef i_i_5))
           (portRef I1 (instanceRef un6_i_2))
           (portRef I0 (instanceRef un2_i_1_CO6_0_o2))
          ))
          (net (rename iZ0Z_4 "i(4)") (joined
           (portRef Q (instanceRef i_4))
           (portRef I (instanceRef i_i_4))
           (portRef I0 (instanceRef un2_i_1_SUM4_0_x2))
          ))
          (net (rename un2_i_1_N_11 "un2_i_1.N_11") (joined
           (portRef O (instanceRef un2_i_1_SUM4_0_o2))
           (portRef I0 (instanceRef un2_i_1_SUM5_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM4_0_x2))
          ))
          (net (rename iZ0Z_3 "i(3)") (joined
           (portRef Q (instanceRef i_3))
           (portRef I (instanceRef i_i_3))
           (portRef I0 (instanceRef un2_i_1_SUM3_0_x2))
          ))
          (net (rename un2_i_1_N_10 "un2_i_1.N_10") (joined
           (portRef O (instanceRef un2_i_1_SUM3_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM4_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM3_0_x2))
          ))
          (net (rename un2_i_1_N_15_i "un2_i_1.N_15_i") (joined
           (portRef O (instanceRef un2_i_1_SUM3_0_x2))
           (portRef I (instanceRef un2_i_1_N_15_i_i))
          ))
          (net (rename iZ0Z_2 "i(2)") (joined
           (portRef Q (instanceRef i_2))
           (portRef I (instanceRef i_i_2))
           (portRef I0 (instanceRef un2_i_1_SUM2_0_x2))
          ))
          (net (rename un2_i_1_N_9 "un2_i_1.N_9") (joined
           (portRef O (instanceRef un2_i_1_SUM2_0_o2))
           (portRef I0 (instanceRef un2_i_1_SUM3_0_o2))
           (portRef I1 (instanceRef un2_i_1_SUM2_0_x2))
          ))
          (net (rename un2_i_1_N_14_i "un2_i_1.N_14_i") (joined
           (portRef O (instanceRef un2_i_1_SUM2_0_x2))
           (portRef I (instanceRef un2_i_1_N_14_i_i))
          ))
          (net (rename iZ0Z_0 "i(0)") (joined
           (portRef Q (instanceRef i_0))
           (portRef I (instanceRef i_i_0))
           (portRef I0 (instanceRef un2_i_1_SUM1_0_x2))
          ))
          (net (rename iZ0Z_1 "i(1)") (joined
           (portRef Q (instanceRef i_1))
           (portRef I (instanceRef i_i_1))
           (portRef I1 (instanceRef un2_i_1_SUM1_0_x2))
          ))
          (net SUM1_0_x2_n (joined
           (portRef O (instanceRef un2_i_1_SUM1_0_x2))
           (portRef D (instanceRef i_1))
          ))
          (net (rename i_iZ0Z_4 "i_i(4)") (joined
           (portRef O (instanceRef i_i_4))
           (portRef I1 (instanceRef un2_i_1_SUM5_0_o2))
          ))
          (net (rename i_iZ0Z_0 "i_i(0)") (joined
           (portRef O (instanceRef i_i_0))
           (portRef D (instanceRef i_0))
           (portRef I0 (instanceRef un6_i_2))
           (portRef I0 (instanceRef un2_i_1_SUM2_0_o2))
          ))
          (net (rename i_iZ0Z_1 "i_i(1)") (joined
           (portRef O (instanceRef i_i_1))
           (portRef I0 (instanceRef un6_i_1))
           (portRef I1 (instanceRef un2_i_1_SUM2_0_o2))
          ))
          (net CLKDV_1_n (joined
           (portRef O (instanceRef CLKDV_1))
           (portRef D (instanceRef CLKDV_inst))
          ))
          (net (rename un6_i_iZ0 "un6_i_i") (joined
           (portRef O (instanceRef un6_i_i))
           (portRef I0 (instanceRef i_3_6))
          ))
          (net (rename un2_i_1_N_19_i_iZ0 "un2_i_1.N_19_i_i") (joined
           (portRef O (instanceRef un2_i_1_N_19_i_i))
           (portRef I1 (instanceRef i_3_6))
          ))
          (net (rename i_3Z0Z_6 "i_3(6)") (joined
           (portRef O (instanceRef i_3_6))
           (portRef D (instanceRef i_6))
          ))
          (net (rename un6_iZ0Z_3 "un6_i_3") (joined
           (portRef O (instanceRef un6_i_3))
           (portRef I1 (instanceRef un6_i_4))
          ))
          (net (rename un6_iZ0Z_2 "un6_i_2") (joined
           (portRef O (instanceRef un6_i_2))
           (portRef I0 (instanceRef un6_i_3))
          ))
          (net (rename un6_iZ0Z_1 "un6_i_1") (joined
           (portRef O (instanceRef un6_i_1))
           (portRef I1 (instanceRef un6_i_3))
          ))
          (net (rename un2_i_1_N_14_i_iZ0 "un2_i_1.N_14_i_i") (joined
           (portRef O (instanceRef un2_i_1_N_14_i_i))
           (portRef D (instanceRef i_2))
          ))
          (net (rename un2_i_1_N_15_i_iZ0 "un2_i_1.N_15_i_i") (joined
           (portRef O (instanceRef un2_i_1_N_15_i_i))
           (portRef D (instanceRef i_3))
          ))
          (net (rename un2_i_1_N_16_i_iZ0 "un2_i_1.N_16_i_i") (joined
           (portRef O (instanceRef un2_i_1_N_16_i_i))
           (portRef D (instanceRef i_4))
          ))
          (net (rename un2_i_1_N_18_i_iZ0 "un2_i_1.N_18_i_i") (joined
           (portRef O (instanceRef un2_i_1_N_18_i_i))
           (portRef D (instanceRef i_5))
          ))
         )
       )
    )
  )
  (design (rename cdiv128dc50 "CDIV128DC50") (cellRef cdiv128dc50 (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
