(edif (rename cdiv256 "CDIV256")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 14 50 58)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
       )
    )
    (cell XOR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename cdiv256 "CDIV256") (cellType GENERIC)
       (view stimulus (viewType NETLIST)
         (interface
           (port CLKIN (direction INPUT)
 )
           (port CLKDV (direction OUTPUT))
         )
         (contents
          (instance i_c6_i_0_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance i_c5_i_0_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance i_c4_i_0_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un1_i_5_i_i_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance i_c2_i_0_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance i_c1_i_0_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance un1_i_0_a2 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance i_n7 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance i_n6 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance i_n5 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance i_n4 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance i_n3 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance i_n2 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance i_n1 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance (rename i_7 "i[7]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_3 "i[3]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_4 "i[4]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_5 "i[5]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_6 "i[6]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance CLKDV_inst (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_0 "i[0]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_1 "i[1]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_2 "i[2]") (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance (rename i_i_7 "i_i[7]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_0 "i_i[0]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_1 "i_i[1]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_2 "i_i[2]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_3 "i_i[3]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_4 "i_i[4]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_5 "i_i[5]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance (rename i_i_6 "i_i[6]") (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename clkin "CLKIN") (joined
           (portRef CLKIN)
           (portRef C (instanceRef i_2))
           (portRef C (instanceRef i_1))
           (portRef C (instanceRef i_0))
           (portRef C (instanceRef CLKDV_inst))
           (portRef C (instanceRef i_6))
           (portRef C (instanceRef i_5))
           (portRef C (instanceRef i_4))
           (portRef C (instanceRef i_3))
           (portRef C (instanceRef i_7))
          ))
          (net (rename clkdv "CLKDV") (joined
           (portRef Q (instanceRef CLKDV_inst))
           (portRef CLKDV)
          ))
          (net i_c5_i_0 (joined
           (portRef O (instanceRef i_c5_i_0_a2))
           (portRef I1 (instanceRef i_n6))
           (portRef I0 (instanceRef i_c6_i_0_a2))
          ))
          (net (rename i_iZ0Z_6 "i_i(6)") (joined
           (portRef O (instanceRef i_i_6))
           (portRef I1 (instanceRef i_c6_i_0_a2))
          ))
          (net i_c6_i_0 (joined
           (portRef O (instanceRef i_c6_i_0_a2))
           (portRef I1 (instanceRef i_n7))
           (portRef I0 (instanceRef un1_i_0_a2))
          ))
          (net i_c4_i_0 (joined
           (portRef O (instanceRef i_c4_i_0_a2))
           (portRef I1 (instanceRef i_n5))
           (portRef I0 (instanceRef i_c5_i_0_a2))
          ))
          (net (rename i_iZ0Z_5 "i_i(5)") (joined
           (portRef O (instanceRef i_i_5))
           (portRef I1 (instanceRef i_c5_i_0_a2))
          ))
          (net i_c3_i_0 (joined
           (portRef O (instanceRef un1_i_5_i_i_a2))
           (portRef I1 (instanceRef i_n4))
           (portRef I0 (instanceRef i_c4_i_0_a2))
          ))
          (net (rename i_iZ0Z_4 "i_i(4)") (joined
           (portRef O (instanceRef i_i_4))
           (portRef I1 (instanceRef i_c4_i_0_a2))
          ))
          (net i_c2_i_0 (joined
           (portRef O (instanceRef i_c2_i_0_a2))
           (portRef I1 (instanceRef i_n3))
           (portRef I0 (instanceRef un1_i_5_i_i_a2))
          ))
          (net (rename i_iZ0Z_3 "i_i(3)") (joined
           (portRef O (instanceRef i_i_3))
           (portRef I1 (instanceRef un1_i_5_i_i_a2))
          ))
          (net i_c1_i_0 (joined
           (portRef O (instanceRef i_c1_i_0_a2))
           (portRef I1 (instanceRef i_n2))
           (portRef I0 (instanceRef i_c2_i_0_a2))
          ))
          (net (rename i_iZ0Z_2 "i_i(2)") (joined
           (portRef O (instanceRef i_i_2))
           (portRef I1 (instanceRef i_c2_i_0_a2))
          ))
          (net (rename i_iZ0Z_0 "i_i(0)") (joined
           (portRef O (instanceRef i_i_0))
           (portRef D (instanceRef i_0))
           (portRef I1 (instanceRef i_n1))
           (portRef I0 (instanceRef i_c1_i_0_a2))
          ))
          (net (rename i_iZ0Z_1 "i_i(1)") (joined
           (portRef O (instanceRef i_i_1))
           (portRef I1 (instanceRef i_c1_i_0_a2))
          ))
          (net (rename i_iZ0Z_7 "i_i(7)") (joined
           (portRef O (instanceRef i_i_7))
           (portRef I1 (instanceRef un1_i_0_a2))
          ))
          (net un1_i_0_a2_n (joined
           (portRef O (instanceRef un1_i_0_a2))
           (portRef D (instanceRef CLKDV_inst))
          ))
          (net (rename iZ0Z_7 "i(7)") (joined
           (portRef Q (instanceRef i_7))
           (portRef I (instanceRef i_i_7))
           (portRef I0 (instanceRef i_n7))
          ))
          (net (rename i_nZ0Z7 "i_n7") (joined
           (portRef O (instanceRef i_n7))
           (portRef D (instanceRef i_7))
          ))
          (net (rename iZ0Z_6 "i(6)") (joined
           (portRef Q (instanceRef i_6))
           (portRef I (instanceRef i_i_6))
           (portRef I0 (instanceRef i_n6))
          ))
          (net (rename i_nZ0Z6 "i_n6") (joined
           (portRef O (instanceRef i_n6))
           (portRef D (instanceRef i_6))
          ))
          (net (rename iZ0Z_5 "i(5)") (joined
           (portRef Q (instanceRef i_5))
           (portRef I (instanceRef i_i_5))
           (portRef I0 (instanceRef i_n5))
          ))
          (net (rename i_nZ0Z5 "i_n5") (joined
           (portRef O (instanceRef i_n5))
           (portRef D (instanceRef i_5))
          ))
          (net (rename iZ0Z_4 "i(4)") (joined
           (portRef Q (instanceRef i_4))
           (portRef I (instanceRef i_i_4))
           (portRef I0 (instanceRef i_n4))
          ))
          (net (rename i_nZ0Z4 "i_n4") (joined
           (portRef O (instanceRef i_n4))
           (portRef D (instanceRef i_4))
          ))
          (net (rename iZ0Z_3 "i(3)") (joined
           (portRef Q (instanceRef i_3))
           (portRef I (instanceRef i_i_3))
           (portRef I0 (instanceRef i_n3))
          ))
          (net (rename i_nZ0Z3 "i_n3") (joined
           (portRef O (instanceRef i_n3))
           (portRef D (instanceRef i_3))
          ))
          (net (rename iZ0Z_2 "i(2)") (joined
           (portRef Q (instanceRef i_2))
           (portRef I (instanceRef i_i_2))
           (portRef I0 (instanceRef i_n2))
          ))
          (net (rename i_nZ0Z2 "i_n2") (joined
           (portRef O (instanceRef i_n2))
           (portRef D (instanceRef i_2))
          ))
          (net (rename iZ0Z_1 "i(1)") (joined
           (portRef Q (instanceRef i_1))
           (portRef I (instanceRef i_i_1))
           (portRef I0 (instanceRef i_n1))
          ))
          (net (rename i_nZ0Z1 "i_n1") (joined
           (portRef O (instanceRef i_n1))
           (portRef D (instanceRef i_1))
          ))
          (net (rename iZ0Z_0 "i(0)") (joined
           (portRef Q (instanceRef i_0))
           (portRef I (instanceRef i_i_0))
          ))
         )
       )
    )
  )
  (design (rename cdiv256 "CDIV256") (cellRef cdiv256 (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
