(edif (rename fd8b "FD8B")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 35 16)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename fd8b "FD8B") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port (array (rename d "D(7:0)") 8) (direction INPUT))
           (port (array (rename q "Q(7:0)") 8) (direction OUTPUT))
           (port C (direction INPUT)
 )
         )
         (contents
          (instance qstate0 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate1 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate2 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate3 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate4 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate5 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate6 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (instance qstate7 (viewRef PRIM (cellRef FD (libraryRef UNILIB)))
          )
          (net (rename d_0 "D(0)") (joined
           (portRef (member d 7))
           (portRef D (instanceRef qstate0))
          ))
          (net (rename d_1 "D(1)") (joined
           (portRef (member d 6))
           (portRef D (instanceRef qstate1))
          ))
          (net (rename d_2 "D(2)") (joined
           (portRef (member d 5))
           (portRef D (instanceRef qstate2))
          ))
          (net (rename d_3 "D(3)") (joined
           (portRef (member d 4))
           (portRef D (instanceRef qstate3))
          ))
          (net (rename d_4 "D(4)") (joined
           (portRef (member d 3))
           (portRef D (instanceRef qstate4))
          ))
          (net (rename d_5 "D(5)") (joined
           (portRef (member d 2))
           (portRef D (instanceRef qstate5))
          ))
          (net (rename d_6 "D(6)") (joined
           (portRef (member d 1))
           (portRef D (instanceRef qstate6))
          ))
          (net (rename d_7 "D(7)") (joined
           (portRef (member d 0))
           (portRef D (instanceRef qstate7))
          ))
          (net (rename c "C") (joined
           (portRef C)
           (portRef C (instanceRef qstate7))
           (portRef C (instanceRef qstate6))
           (portRef C (instanceRef qstate5))
           (portRef C (instanceRef qstate4))
           (portRef C (instanceRef qstate3))
           (portRef C (instanceRef qstate2))
           (portRef C (instanceRef qstate1))
           (portRef C (instanceRef qstate0))
          ))
          (net (rename q_0 "Q(0)") (joined
           (portRef Q (instanceRef qstate0))
           (portRef (member q 7))
          ))
          (net (rename q_1 "Q(1)") (joined
           (portRef Q (instanceRef qstate1))
           (portRef (member q 6))
          ))
          (net (rename q_2 "Q(2)") (joined
           (portRef Q (instanceRef qstate2))
           (portRef (member q 5))
          ))
          (net (rename q_3 "Q(3)") (joined
           (portRef Q (instanceRef qstate3))
           (portRef (member q 4))
          ))
          (net (rename q_4 "Q(4)") (joined
           (portRef Q (instanceRef qstate4))
           (portRef (member q 3))
          ))
          (net (rename q_5 "Q(5)") (joined
           (portRef Q (instanceRef qstate5))
           (portRef (member q 2))
          ))
          (net (rename q_6 "Q(6)") (joined
           (portRef Q (instanceRef qstate6))
           (portRef (member q 1))
          ))
          (net (rename q_7 "Q(7)") (joined
           (portRef Q (instanceRef qstate7))
           (portRef (member q 0))
          ))
         )
       )
    )
  )
  (design (rename fd8b "FD8B") (cellRef fd8b (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
