(edif (rename ldc "LDC")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 57 44)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LDC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port G (direction INPUT)
 )
           (port CLR (direction INPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename ldc "LDC") (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port CLR (direction INPUT)
 )
           (port G (direction INPUT)
 )
           (port D (direction INPUT)
 )
           (port Q (direction OUTPUT))
         )
         (contents
          (instance Q_inst (viewRef PRIM (cellRef LDC (libraryRef UNILIB)))
          )
          (net (rename clr "CLR") (joined
           (portRef CLR)
           (portRef CLR (instanceRef Q_inst))
          ))
          (net (rename g "G") (joined
           (portRef G)
           (portRef G (instanceRef Q_inst))
          ))
          (net (rename d "D") (joined
           (portRef D)
           (portRef D (instanceRef Q_inst))
          ))
          (net (rename q "Q") (joined
           (portRef Q (instanceRef Q_inst))
           (portRef Q)
          ))
         )
       )
    )
  )
  (design (rename ldc "LDC") (cellRef ldc (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
