(edif (rename nor2s "NOR2S")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 14 21 44)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename nor2s "NOR2S") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port I0 (direction INPUT)
 )
           (port I1 (direction INPUT)
 )
           (port O (direction OUTPUT))
         )
         (contents
          (instance (rename oZ0 "o") (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance o_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename i0 "I0") (joined
           (portRef I0)
           (portRef I0 (instanceRef oZ0))
          ))
          (net (rename i1 "I1") (joined
           (portRef I1)
           (portRef I1 (instanceRef oZ0))
          ))
          (net (rename o "O") (joined
           (portRef O (instanceRef o_i))
           (portRef O)
          ))
          (net (rename oZ1 "o") (joined
           (portRef O (instanceRef oZ0))
           (portRef I (instanceRef o_i))
          ))
         )
       )
    )
  )
  (design (rename nor2s "NOR2S") (cellRef nor2s (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
