NET "CLK_20MHZ" LOC=P87;
NET "DC_DIRECTION" LOC=P47;
NET "DEC_AXIS_OK" LOC=P25;
NET "DEPLOYED_1" LOC=P70;
NET "IN1" LOC=P76;
NET "IN2" LOC=P77;
NET "IR_STRIP" LOC=P94;
NET "LIGHTBARMINUS" LOC=P99;
NET "OK_TO_MOVE" LOC=P45;
NET "PWM_D<7>" LOC=P52;
NET "PWM_D<6>" LOC=P49;
NET "PWM_D<5>" LOC=P53;
NET "PWM_D<4>" LOC=P54;
NET "PWM_D<3>" LOC=P55;
NET "PWM_D<2>" LOC=P58;
NET "PWM_D<1>" LOC=P57;
NET "PWM_D<0>" LOC=P60;
NET "PWM_IR_LOAD" LOC=P69;
NET "PWM_IR_OUT" LOC=P85;
NET "PWM_UV_LOAD" LOC=P65;
NET "PWM_UV_OUT" LOC=P78;
NET "PWM_WHT_LOAD" LOC=P61;
NET "PWM_WHT_OUT" LOC=P100;
NET "STOWED_1" LOC=P64;
NET "TCK" LOC=p62;
NET "TDI" LOC=P4;
NET "TDO_PLD" LOC=P73;
NET "TMS" LOC=P15;
NET "UV_STRIP" LOC=P63;
NET "X_DC_START" LOC=P46;
NET "X_HOME" LOC=P75;
NET "X_PWM_IR_EN" LOC=P56;
NET "X_PWM_UV_EN" LOC=P48;
NET "X_PWM_WHT_EN" LOC=P50;
NET "X_RA_AXIS_OK" LOC=P31;
